* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, header {
    background-color: whitesmoke;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid black;
    display: block;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    padding-left: 50px;
    letter-spacing: 1.5px;
}
#title, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    padding: 10px;
    margin-bottom: 10px;
}
h2, h3 {
    border-bottom: 1.5px solid black;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    text-indent: 30px;
    font-size: 15px;
}
#img-div {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 13, 13);
}

#image {
    padding-top: 80px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

section, article {
    margin: 50px auto;
    background-color: rgba(128, 128, 128, 0.103);
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    max-width: 80%;
}
figcaption {
    width: 100%;
    padding-left: 30px;
    color: whitesmoke;
}
.article-source {
    font-size: 14px;
}
a {
    font-size: 14px;
}