:root {
    --primaryColor: #3d806d;
    --black: #282828;
    --backgroundColor: ;
    --ff-heading: "Sen", sans-serif;
    --ff-body: "Roboto", sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul[class],
ol[class] {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-body);
}
section {
    padding: 1em;
}
h2 {
    font-family: var(--ff-heading);
}
/** navbar */
#nav-bar {
    width: 100vw;
    background-color: #edece8;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.nav-link {
    margin: 1em;
}
/** toggle */
.nav-active path {
    fill: var(--primaryColor);
}
.hide {
    display: none;
}
/** profile */
#profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: url(../images/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (min-width: 576px) {
    .nav-link {
        width: 2rem;
    }
}
@media (min-width: 768px) {
    #nav-bar {
        flex-direction: column;
        left: 0;
        width: 6rem;
        height: 100vh;
        align-items: center;
    }
    .nav-link {
        width: 2rem;
    }
    section {
        margin-left: 8em;
    }
}
