:root {
    --blue: #397ea5;
    --black: #666666;
    --inputColor: #7a7676;
    --background: #f2f7f9;
    --shadow1: #d9d9d94f;
    --shadow2: #01010149;
    --form: #bebcbc80;
    --success: #42a475;
    --invalid: #c02424bb;
    font-size: 14px;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    line-height: 1.2;
    background-color: var(--background);
    font-family: "Work Sans", sans-serif;
}
a {
    text-decoration: none;
    color: #092a3d;
}
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
}
.input-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
form img {
    width: 1.5rem;
}
input {
    border-radius: 0.5rem;
    margin-top: 0.2em;
    padding: 0.8em;
}
/* hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="submit"],
.clear-input {
    padding: 0.5em 1em;
    margin-top: 1.5em;
    border: 1px solid var(--blue);
    border-radius: 3.5rem;
    cursor: pointer;
    background-color: #ffffff;
    font-family: "Work Sans", sans-serif;
}
input:focus {
    outline: none;
    box-shadow: 0px 0px 4px var(--black);
}
.card:hover {
    transform: translateY(-3%);
    box-shadow: 0px 4px 20px rgba(1, 1, 1, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.25);
}
/** toggle */
.nav-link.active {
    color: #ffffff;
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}
.nav-link:hover,
nav-link:active {
    border: 1px solid var(--blue);
}
#dashboard-btn.active img {
    content: url(./images/dashboard-active.svg);
    transition: 0.3s ease-in-out;
}
#accounts-btn.active img {
    content: url(./images/accounts-active.svg);
    transition: 0.3s ease-in-out;
}
#budget-btn.active img {
    content: url(./images/budget-active.svg);
    transition: 0.3s ease-in-out;
}
.hide {
    display: none !important;
}
/** LOGIN */
.login-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
}
.login-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.login-image {
    width: 30rem;
    height: auto;
}
#login-logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em;
}
.login,
.signup {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login h1,
.signup h1 {
    letter-spacing: 1.5px;
}
.login-form,
.signup-form {
    width: 35rem;
    height: 25rem;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input,
.signup-form input {
    width: 100%;
    outline: none;
    box-shadow: none;
}
.signup-form input[type="text"],
#income-title,
#expense-title {
    text-transform: capitalize;
}
.login-input-group,
.signup-input-group {
    padding-left: 0.5em;
    margin-top: 1.5em;
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    align-items: center;
}
#login-submit,
#signup-submit {
    font-weight: 600;
    width: 100%;
    margin: 1em 0 2em 0;
    padding: 1em 1.5em;
}
#login-submit:hover,
#login-submit:active,
#signup-submit:hover,
#signup-submit:active {
    color: #ffffff;
    background-color: #1b5c81;
    transition: 0.3s ease-in-out;
}
.forgot-password {
    color: #ffffff;
    margin-top: 0.5em;
    width: 80%;
    text-align: right;
    cursor: pointer;
}
.forgot-password:hover {
    color: #d1d1d1;
}
/** header */
header {
    width: 100vw;
    height: 10vh;
    color: var(--blue);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    padding: 0 1em;
}
.user-account-modal {
    position: absolute;
    border-radius: 0.2rem;
    margin-top: 1em;
    padding: 2em 1em;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.5);
    z-index: 1;
}
.user-account-modal a {
    color: var(--black);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-image {
    width: 1.5rem;
    margin-right: 0.5em;
}
#logo {
    margin: 0 1em;
}
#logo,
#main-user-icon {
    height: 40px;
}
nav,
.header-right {
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    border-radius: 3.5rem;
    height: 2rem;
    width: 12rem;
    font-size: 1.2rem;
    margin: 0 0.5em;
    padding: 1em 0.8em;
}
.nav-link img {
    padding: 0 0.5em;
    display: flex;
}
#main-user-icon,
.notification,
.email,
.plant {
    margin-right: 1em;
}
.plant {
    height: 2rem;
}
#main-user-name {
    margin-right: 2em;
    font-size: 1.2rem;
}
#date {
    color: #ffffff;
    background-color: var(--black);
    padding: 0.5em;
}
/** dashboard */
.visible {
    visibility: visible;
}
.alert-container {
    margin-top: 1em;
    height: 10vh;
    padding: 0.5em;
    color: #ffffff;
    background-color: var(--black);
    position: relative;
    transition: background-color 0.2s ease-in-out;
}
.alert-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#db-remove-alert {
    top: 0;
    right: 0;
    margin: 1em 5em 0 0;
    font-size: 1.5rem;
    color: var(--black);
    background-color: white;
    position: absolute;
    border-radius: 30px;
    padding: 0 0.2em;
    display: none;
}
.dashboard-content {
    height: 60vh;
    padding: 1.5em 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.display-balance-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-balance {
    height: 100%;
    background-color: #ffffff;
    padding: 2em 5em;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.5);
}
#display-balance-form {
    width: 100%;
    background-color: var(--form);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    border-radius: 1rem;
}
#account-number-input {
    width: 100%;
}
#bank-card {
    width: 25rem;
    height: 15rem;
    margin: 2.5em;
    color: #ffffff;
    background: var(--blue);
    background: linear-gradient(90deg, rgba(57, 126, 165, 1) 0%, rgb(111, 160, 189) 65%, rgba(119, 161, 186, 1) 100%);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.5);
    border-radius: 1rem;
}
.bank-card-label {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
}
#account-balance {
    width: 90%;
    font-size: 2rem;
    margin-bottom: 0.5em;
}
#account-name {
    font-size: 1.5rem;
}

.account-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-card {
    width: 10rem;
    padding: 1em 0;
    margin: 0.5em 0.2em;
}
.small-card h2 {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.small-card img {
    width: 3rem;
}
.modal-bg {
    width: 90%;
    height: 100%;
    padding: 0.5em;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--form);
    border-radius: 1rem;
}
#deposit-modal-header,
#withdraw-modal-header {
    margin-bottom: 2em;
    padding-bottom: 1em;
}
.modal h3 {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 0.2em;
    border-bottom: 2px solid var(--black);
}
.modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}
.modal-input-group {
    width: 90%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.modal-input-group label {
    text-align: left;
}
.display-name {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 0.5em 0;
    text-align: left;
}
.display-name strong {
    font-size: 1rem;
    padding: 1em 0 0 0.5em;
}
hr {
    width: 100%;
    margin-top: 0.5em;
    border: 0.5px solid rgb(110, 110, 110);
}
/** accounts */
#accounts {
    padding: 1em;
}
.accounts-header {
    height: 8vh;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.acc-alert-container {
    width: 65%;
    margin: 2em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#acc-remove-alert {
    margin-left: 2em;
    display: none;
}
.confirm-delete {
    display: none;
    margin-left: 1em;
}
.confirm-delete button {
    border: 1px solid var(--black);
    padding: 0.2em 0.5em;
    border-radius: 1rem;
}
.confirm-delete button:hover {
    background-color: var(--black);
    color: #ffffff;
}
.acc-nav {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#acc-list-accounts {
    padding: 1em;
    font-size: 1.2rem;
    color: var(--blue);
}
.acc-active {
    text-decoration: underline;
}
#acc-add-account img {
    width: 2.5rem;
}
#acc-add-account img:hover,
#acc-list-accounts:hover {
    transform: translateY(-3%);
}
#add-account-container {
    margin-top: 4em;
}
#add-account-form {
    background-color: var(--form);
    width: 80vmin;
    padding: 2em 0;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-account-form input {
    width: 100%;
}
#add-account-form input[type="text"] {
    text-transform: uppercase;
}
#add-account-form #add-account-btn {
    width: 50%;
    padding: 1em 0;
}
.accounts-header {
    padding-bottom: 2em;
}
.account-list {
    height: 100%;
}
#accounts-table {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid var(--black);
}
thead {
    background-color: var(--black);
    color: #ffffff;
    text-transform: uppercase;
}
tr {
    border: 0.5px solid var(--black);
}
th {
    border-bottom: 0.5px solid var(--black);
    padding: 0.5em 2em;
    letter-spacing: 1.5px;
}
td {
    padding: 0.2em 0 0.2em 1.5em;
    border: 1px solid var(--black);
    text-align: left;
}
td:last-child {
    text-align: center;
}
.fa-trash,
.fa-edit {
    margin: 0 1em;
    color: var(--black);
}
/** budget */
#total {
    font-size: 1rem;
    margin-top: 0.2em;
}
.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    padding: 1em 0;
}
.income-expense-container {
    display: flex;
    justify-content: space-evenly;
}
#income-button,
#expense-button {
    padding: 0.5em 1em;
    border-radius: 0.5rem;
}
.active-budget {
    background-color: var(--blue);
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
#add-income {
    background-color: var(--success);
    color: #ffffff;
    border: none;
}
#add-expense {
    background-color: var(--invalid);
    color: #ffffff;
    border: none;
}
#income-table,
#expense-table {
    border-collapse: collapse;
}
#income-table td,
#expense-table td {
    padding-left: 0.5em;
}
