* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./images/safari.jpg");
    background-position: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: auto;
}
.header > a, #play-label {
    font-family: futura;
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    margin: 1.5vh;
    padding: 1vh;
    background-color: #d2ba95c0;
    letter-spacing: .1vw;
    text-align: center;
}
#play, .options, .options a {
    display: none;
  }
#play:checked ~ .options, .options a {
    display: block;
  }
#option a {
    color: black;
    text-decoration: none;
    margin: 2vw;
    font-family: futura;
    background-color: whitesmoke;
    padding: 1vh;
    font-size: 2.5vh;
}
#option a:hover {
    background-color: rgb(215, 215, 215);
} 
.options li {
    list-style-type: none;
}
#option p {
font-size: 2vmin;
color: rgba(55, 55, 55, 0.942);
}
.options {
    position: absolute;
    transform: translate(0, 75%);
    background-color: rgb(38, 38, 38);
    width: 45vmin;
    box-shadow: 0px 8px 16px 0px rgba(96, 96, 96, 0.685);
    z-index: 1;
    text-align: center;
  }
#play-label {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 1;
}
.header > a:hover, #play-label:hover {
    outline: .1em solid #955738c7;
    cursor: pointer;
}
.header a:nth-of-type(2) {
    background-color: #4694c86e;
    font-size: 2vh;
    text-align: center;
}
a:hover:nth-of-type(2) {
    outline: .1em solid #062543;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
    font-family: futura;
    font-size: 4vh;
    letter-spacing: .1vw;
    color: #271803;
    margin-bottom: .1vh;
    padding-left: .5em;
    padding-right: .5em;
}
.board {
    background-color: #9557389c;
    background-image: linear-gradient(45deg, #d2ba95c0 25%, transparent 25%, transparent 75%, #d2ba95c0 75%, #d2ba95c0),
    linear-gradient(45deg, #d2ba95c0 25%, transparent 25%, transparent 75%, #d2ba95c0 75%, #d2ba95c0);
    background-size: 20vmin 20vmin;
    background-position: 0 0, 10vmin 10vmin;
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr); 
}
.box {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;;
}
.box:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}
.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5vh;
    background-color: rgba(222, 184, 135, 0.521);
    font-size: 2vh;
}
.b-elephant, .b-giraffe,.b-lion,.b-monkey,.b-tiger,.b-zebra, .w-elephant, .w-giraffe,.w-lion,.w-monkey,.w-tiger,.w-zebra {
    width: 80%;
}
.b-elephant {
    content: url(./images/b-elephant.png);
}
.b-giraffe {
    content: url(./images/b-giraffe.png);
}
.b-lion {
    content: url(./images/b-lion.png);
}
.b-tiger {
    content: url(./images/b-tiger.png);
}
.b-zebra {
    content: url(./images/b-zebra.png);
}
.b-monkey {
    content: url(./images/b-monkey.png);
}
.w-elephant {
    content: url(./images/w-elephant.png);
}
.w-giraffe {
    content: url(./images/w-giraffe.png);
}
.w-lion {
    content: url(./images/w-lion.png);
}
.w-tiger {
    content: url(./images/w-tiger.png);
}
.w-zebra {
    content: url(./images/w-zebra.png);
}
.w-monkey {
    content: url(./images/w-monkey.png);
}
.move1 {
    position: relative;
    animation-name: b-monkey-move;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes b-monkey-move {
    0% {
        top: 0;
    }
    100% {
        top: 20vh;
    }
}
.move2 {
    position: relative;
    animation-name: w-monkey-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-timing-function: linear;
}
@keyframes w-monkey-move {
    0% {
        top: 0;
    }
    50% {
        bottom: 5vh;
    }
    100% {
        bottom: 10vh;
    }
}
.move3 {
    position: relative;
    animation-name: b-monkey-move;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4.2s;
}
.move4 {
    position: relative;
    animation-name: w-giraffe-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-timing-function: linear;
}
@keyframes w-giraffe-move {
    0% {
        transform: translate(0);
    }
    100% {
       transform: translate(-15.5vw, -30vh);
    }
}


.move5 {
    position: relative;
    animation-name: b-zebra-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 7.2s;
    animation-timing-function: linear;
}
@keyframes b-zebra-move {
    0% {
        transform: translate(0);
    }
    33% {
        transform: translate(0,10vh);
    }
    70% {
        transform: translate(0,20vh);
    }
    100% {
       transform: translate(-5vw, 20vh);
    }
}
