:root {
    --primaryColor: #eacdc8;
    --secondaryColor: #c7796c;
    --labelColor: rgb(54, 54, 54);
    --headerColor: rgb(255, 255, 255);
    --ff-header: "Oleo Script", cursive;
    --ff-body: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
body {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    font-family: var(--ff-body);
    font-size: 0.8rem;
    background-image: url(./catering.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    text-align: center;
}
header {
    margin: 2em 0;
    color: var(--headerColor);
    text-shadow: 2px 2px 10px rgb(53, 53, 53);
}
h1 {
    font-family: var(--ff-header);
    letter-spacing: 1.5px;
    font-size: 2rem;
    margin-bottom: 1em;
}
#description {
    font-size: 0.8rem;
}
#form-container {
    background-color: var(--primaryColor);
    text-align: left;
    max-width: 800px;
    margin: auto;
    padding: 1.5em;
    border-radius: 0.6rem;
}
input,
select {
    border: 1px solid var(--primaryColor);
    padding: 0.5em;
    border-radius: 0.3rem;
    color: var(--labelColor);
    font-family: var(--ff-body);
}
.options {
    width: 100%;
    padding: 1em;
    margin: auto;
    background-color: #fff;
    border-radius: 0.3rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid var(--secondaryColor);
}
input[type="checkbox"] {
    margin-right: 0.5em;
}
#others {
    width: 100%;
}
textarea {
    padding: 1em;
    border-radius: 0.3rem;
    width: 100%;
    font-family: var(--ff-body);
}
.instruction {
    font-size: smaller;
}
#submit {
    width: 50%;
    margin: 1em auto auto auto;
    background-color: var(--secondaryColor);
    color: #fff;
    font-family: var(--ff-body);
}
#name-label,
#email-label,
#date-label,
#number-label,
.input-group-label {
    color: var(--labelColor);
    font-weight: 600;
    margin-bottom: 0.2em;
}
@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    #description {
        font-size: 1.5rem;
    }
    body,
    input,
    textarea,
    select {
        font-size: 1.2rem;
    }
}
