@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto&display=swap");
:root {
    --oxford-blue: #031e3a;
    --background-color: #e8ebf0;
    --roboto: "Roboto", sans-serif;
    --lora: "Lora", serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body,
header,
.form-container,
footer,
.social-proof,
.benefits-container {
    width: 100vw;
}
body {
    font-family: var(--roboto);
    line-height: 1.5;
    letter-spacing: 1.5px;
}
#header {
    background-color: rgba(255, 255, 255, 0.949);
    height: 12vmin;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 2vmin 4vmin;
    text-transform: uppercase;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}
#header-img,
.logo {
    width: 20vmin;
}
#nav-bar ul a {
    color: var(--oxford-blue);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    font-size: 2vmin;
    padding: 0.5em;
}

#nav-bar ul a:hover {
    color: rgb(72, 72, 72);
}

#nav-bar a:last-of-type {
    outline: 0.2vmin solid var(--oxford-blue);
}
#nav-bar a:last-of-type:hover,
#nav-bar a:last-of-type:focus {
    background-color: var(--oxford-blue);
    color: white;
    transition: linear 0.3s;
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
#hero-image {
    background-image: url(./images/peanut-butters.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-content {
    width: 90%;
    height: 45%;
    text-align: center;
    letter-spacing: 1.5px;
}
#hero-text {
    margin: auto;
    font-size: 4.5vmin;
    padding-bottom: 1em;
    font-family: var(--lora);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}
#hero-text p {
    font-size: 2.5vmin;
    font-family: var(--roboto);
    text-transform: uppercase;
    padding: 0.5em;
}
.btn {
    margin-top: 1em;
    background-color: var(--oxford-blue);
    border: none;
    color: white;
    font-size: 3vmin;
    padding: 2vmin 8vmin;
    letter-spacing: 0.2vmin;
    transition: linear 0.3s;
}
.btn:hover {
    cursor: pointer;
    background-color: #112f4f;
}
.social-proof {
    width: 100%;
    height: 30vmin;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.8vmin;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background-color: var(--oxford-blue);
    color: white;
}
.benefits-container {
    text-align: center;
    height: 40vmin;
    margin: 0 auto;
}
.benefits-container img {
    max-width: 100%;
    height: auto;
}
#recipes {
    background-image: url(./images/recipes.jpg);
}
#journals {
    background-image: url(./images/journals.jpeg);
}
#recipes:hover {
    background-image: url(./images/recipes2.png);
    transition: 0.5s linear;
}
#journals:hover {
    background-image: url(./images/journals2.jpeg);
    transition: 0.5s linear;
}
.recipe-journal-container {
    width: 100%;
    margin: auto;
}
.recipe-journal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    height: 150px;
    margin: auto;
}
.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(60, 60, 60, 0.404);
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
h2 {
    font-size: 6vmin;
    margin-top: 15vmin;
    margin-bottom: 5vmin;
    font-family: var(--lora);
}
h3 {
    font-size: 5vmin;
    padding: 5vmin 0 2vmin 0;
    font-family: var(--lora);
}
iframe {
    width: 100%;
    height: calc(100vw / 1.77);
}
.story-container {
    padding: 2em 0;
    width: 100%;
}
.story-container img {
    width: 100%;
}
.box h2 {
    margin: 0;
}
.box:hover {
    background-color: rgba(76, 76, 76, 0.189);
    transition: 0.5s linear;
}
.box p:hover {
    text-decoration: underline;
}
.products-container {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    margin: 0 auto;
    outline: 1px solid white;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 48%;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}
.product-card img {
    max-width: 100%;
    height: auto;
    padding: 0.8em;
}
.product-card img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
.extra1,
.extra2 {
    display: none;
}
.form-container {
    text-align: center;
    margin: 12vmin 0;
}
#contact-us,
#subscribe {
    font-size: 4vmin;
}
#contact-form {
    width: 100%;
    display: flex;
    background-color: var(--background-color);
    text-align: left;
}
.contact-text,
.subscribe-text,
.recipe-journal p {
    font-size: 2vmin;
}
.email {
    text-decoration: underline;
}
#form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vmin 0;
}
#email {
    width: 60vmin;
    height: 6.5vmin;
    padding: 0 1vmin;
    border: 0.2vmin solid var(--oxford-blue);
    border-radius: 0;
    font-size: 2.5vmin;
}
#submit {
    padding: 1.5vmin 23vmin;
    margin: 1vmin;
    letter-spacing: 0.2vmin;
    -webkit-appearance: none;
}
.sustainability-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.sustainability-container img {
    max-width: 70%;
    height: auto;
    padding: 0 0.5em;
}
#awards {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: var(--oxford-blue);
    color: white;
    height: 40vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa {
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 20px;
    height: 20px;
}
.fa:hover {
    opacity: 0.8;
}
.footer-container {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: 70%;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    font-size: 2vmin;
}
.links span:hover {
    text-decoration: underline;
    cursor: pointer;
}
@media (min-width: 30.063em) {
    .about-text {
        font-size: 18px;
    }
    .product-card {
        flex-basis: 31%;
    }
    .extra1 {
        display: block;
    }
    #nav-bar ul a {
        font-size: 2.5vmin;
    }
    #form {
        flex-direction: row;
    }
    #email {
        width: 40vmin;
        padding: 0 1vmin;
    }
    #submit {
        padding: 1.5vmin 13vmin;
    }
    .recipe-journal-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    #recipes,
    #journals {
        width: 90%;
        height: 40vmin;
        margin: 0.5em;
    }
    .images {
        display: flex;
    }
}
@media (min-width: 48.063em) {
    #nav-bar ul a {
        font-size: 18px;
    }
    .container {
        width: 80%;
    }
    .product-card {
        flex-basis: 21%;
    }
    .extra1 {
        display: block;
    }
    .extra2 {
        display: block;
    }
    .video-container {
        display: flex;
        justify-content: center;
    }
    iframe {
        width: 60vw;
        height: calc(60vw / 1.77);
    }
    h2 {
        font-size: 4vmin;
    }
    h3 {
        font-size: 3vmin;
    }
}
