* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-image: url('./images/underwater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(71, 161, 202);
    height: 100vh;
}
h1 {
    font-size: 4vh;
    letter-spacing: .1vw;
    padding: .5em;
    color: #062543;
    font-family: futura;
    margin-bottom: .1vh;
}
#board{
    outline: .2vw solid #062543;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 85vmin;
	height: 85vmin;
    margin: auto;
    text-align: center;
  }
.box {
    width: 12.5%;
	height: 12.5%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 70%;
}
img:hover {
    width: 80%;
    cursor: pointer;
}
.light {
    background-color: #c8dee8b6;
}
.dark {
    background-color: #4694c8b2;
}

svg {
   position: absolute;
   bottom: 0;
}
.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em;
    background-color: rgba(103, 182, 219, 0.5);
    font-size: 2vh;
}