* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-image: url('./images/underwater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(71, 161, 202);
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    text-align: center;
    margin: auto;
}
.header a {
    font-family: futura;
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    margin: 1.5vh;
    padding: 1vh;
    background-color: #c8dee8b6;
    letter-spacing: .1vw;
}
.header a:nth-of-type(3) {
    background-color: #d2ba95c0;
    font-size: 2vh;
}
a:hover {
    outline: .1em solid #062543 ;
}
a:hover:nth-of-type(3) {
    outline: .1em solid #955738c7;
}
h1 {
    font-size: 4vh;
    letter-spacing: .1vw;
    padding: .5em;
    color: #062543;
    font-family: futura;
    margin-bottom: .1vh;
}
#board{
    outline: .2vw solid #062543;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 85vmin;
	height: 85vmin;
    margin: auto;
    text-align: center;
  }
.box {
    width: 12.5%;
	height: 12.5%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 70%;
}
img:hover {
    width: 80%;
    cursor: pointer;
}
.light {
    background-color: #c8dee8b6;
}
.dark {
    background-color: #4694c8b2;
}

svg {
   position: absolute;
   bottom: 0;
}
.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em;
    background-color: rgba(103, 182, 219, 0.5);
    font-size: 2vh;
}